.Career {
  padding-top: 100px;
  background: #fff;
  .HeaderWrapper {
    background:#17495F;
    background:-moz-linear-gradient(left, #115A78, #0E212A);
    background:-webkit-gradient(linear, 0 0, 0 right, from(#115A78), to(#0E212A));
    background:-o-linear-gradient(left, #115A78, #0E212A);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .App-header {
    margin: 0 auto;
  }
  .Introduction {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 0 40px;
  }
  .image,
  .text {
    flex: 1;
  }
  img {
    width: 100%;
  }
  .text {
    color: #4a4a4a;
    margin-left: 30px;
    font-weight: normal;
    p {
      margin: 1em 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .module-title {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 20px 0 15px;
  }

  .PositionWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 40px;

    .PositionItem {
      flex: 0 45%;
      padding: 20px 20px 20px 50px;
      margin-right: 5%;
      margin-bottom: 20px;
      list-style: none;
      position: relative;
      border: 1px solid #fff;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 25px;
        width: 8px;
        height: 8px;
        background: #9B9B9B;
      }
      &:hover {
        background: #EDFCFF;
        border-color: #04D5FF;
      }
      h3 {
        font-weight: normal;
        margin-bottom: 8px;
      }
      ul {
        color: #9B9B9B;
        font-weight: normal;
        padding-left: 20px;
        li {
          list-style: disc;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Career {
    padding-top: 60px;
    .Introduction {
      display: block;
      width: 100%;
      padding: 10px;
      img {
        width: 100%;
      }
      .text {
        margin-left: 0;
      }
    }
    .App-header {
      padding: 20px 10px;
    }
    .PositionWrapper {
      display: block;
      width: 100%;
      padding: 0 10px 60px;
      .PositionItem {
        padding: 20px 0 20px 30px;
        p {
          color: #444;
        }
      }
    }

  }
}
